<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Dispositivo </ion-title> 
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="highcharts" [hidden]="!existenMediciones" style="width:100%; height:300px;"></div>
  <div  [hidden]="existenMediciones">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Estado electrovalvula</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        No hay mediciones en este sensor
      </ion-card-content>
    </ion-card></div>
  
  <ion-button color="primary" expand="block" routerLink="/dispositivo/log/{{idElectrovalvula}}" routerDirection="forward"> Ver Logs</ion-button> 
  <ion-button color="primary" expand="block" routerLink="/dispositivo/{{idDispositivo}}/mediciones" routerDirection="forward">Mediciones</ion-button> 
  <div *ngIf="boton_abrir; then contentAbrir else contentCerrar"></div>
  <ng-template #contentAbrir><ion-button color="primary" expand="block" (click)="abrirElectrovalvula()">Abrir electroválvula</ion-button></ng-template>
  <ng-template #contentCerrar><ion-button color="primary" expand="block" (click)="cerrarElectrovalvula()">Cerrar electroválvula</ion-button></ng-template>

</ion-content>