<ion-header>
  <ion-toolbar>
    <ion-title>Mediciones del sensor elegido</ion-title>
    <ion-back-button slot="start">
      <ion-button routerLink="/">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-back-button>
  </ion-toolbar>
</ion-header>

<h2> A continuación, se ven las mediciones del sensor elegido y la fecha y hora de cuando fue realizada</h2>

<ion-content>
  <ion-item *ngFor="let una_medicion of this.array_mediciones" >
    <ion-avatar slot="start">
        <ion-icon size="large" name="flower"></ion-icon>
    </ion-avatar>
    <ion-label>
        <h3>{{una_medicion.fecha|date:"dd.MM.yy @ hh:mm:ss"}} ---> "Valor medido: " {{una_medicion.valor}}</h3>
        
    </ion-label>
  </ion-item>
</ion-content>
